/* CONTENT SINGLE ELEMENTS */
/* Attention: Only one H1 element here at the frontpage */
H1 {
	font-size: 14px;
	color: #172983;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #216821;
	padding: 0 0 3px 0;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 0px;
	margin-bottom: 15px;
}

H2,H3,H4,H5,H6 {
	color: #172983;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}


H2 {
	font-size: 14px;
}

H3 {
	font-size: 12px;
}

H3.report {
	color: #172983;
	text-align: left;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 12px;
}

H4 {
	font-size: 11px;
}
/*
H5 {
	font-size: 10px;
	color: #172983;
}

H6 {
	font-size: 9px;
	color: #333333;
	font-weight: normal;
}
*/

H1.menu-header {
	margin-left: 0;
	margin-right: 0;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #000000;
	text-transform: uppercase;
	text-align: left;
}

A {
	font-weight: bold;
	font-size: 8pt;
	color: #cd853f;
}

A:link {
	text-decoration: none;
}

A:visited {
	text-decoration: none;
}

A:hover {
	text-decoration: none;
	color: #d2691e;
}

/*
P,UL,OL {
	font-size: 11px;
}

P {
	margin: 0px 0px 0px 0px;
}*/

p.home {
 	margin: 10px;
 	line-height: 16px;
 	color: #333333;
 	text-align: justify;
 	padding-bottom: 6px;
}

b.red {
	color: #ff0000;
}

UL {
	list-style-type: disc;
	list-style-position: outside;
	padding-left: 20px;
}

UL.home {
	margin: 10px;
	list-style-type: disc;
	list-style-position: outside;
	padding-left: 20px;
}

/* LI {
	padding-left: 2px;
} */

IMG {
	border-style: none;
}

/* CONTENT FIELDSETS */
fieldset {
	color: #000000;
	margin: 1px;
	border: 1px solid #000000;
	background-color: #d3d3d3;
}

fieldset.report {
	color: #000000;
	margin: 5px;
}

fieldset.rfield {
	color: #000000;
	background-color: #d3d3d3;
}

/* CONTENT TABLES - REFACTOR THEM! */
/*
table {
	width: 100%;
}

td {
	padding: 4px;
	align: center;
	text-align: center;
}*/

table.page {
	background-color: #FFFFFF;
	border-collapse: collapse;
	border-style: none;
	border-spacing: 4px;
	width: auto;
}

table.page td {
	padding: 4px;
}

table.selector {
	background-color: #f5f5dc;
	border-collapse: collapse;
	border-style: none;
	border-spacing: 4px;
	width: 100%;
}

table.selector td {
	padding: 4px;
	text-align: center;
	background-color: #d3d3d3;
	width: 45%;
}

table.view {
	background-color: #f5f5dc;
	border-collapse: collapse;
	width: 100%;
}

table.view td {
	background-color: #d3d3d3;
	padding: 4px;
}

table.filter {
	color: #000000;
	background-color: #f5f5dc; 
	border-collapse: collapse;
	width: 100%;
	text-align: left;
}

table.filter td {
	background-color: #d3d3d3;
	padding: 4px;
}

table.filter td.title {
	background-color: #d3d3d3;
	padding: 4px;
	border: 1px solid #ffffff;
}

table.filter td.filter {
	background-color: #e6e6fA;
	padding: 4px;
	border: 1px solid #ffffff;
}

table.filter caption {
	color: #172983;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 12px;
	font-weight: bold;
}

table.viewall {
	color: #000000;
	background-color: #f5f5dc; 
	border-collapse: collapse;
	width: 100%;
	text-align: center;
}

table.viewall caption {
	color: #172983;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 12px;
	font-weight: bold;
}

table.viewall TH {
	color: #FFFFFF;
	background-color: #172983;
	border: 1px solid #ffffff;
	padding: 10px 5px;
}

table.viewall tr.odd td {
	background-color: #d3d3d3;
}

table.viewall tr.even td {
	background-color: #e6e6fA;
}

table.viewall td {
	background-color: #d3d3d3;
	padding: 4px;
	border: 1px solid #ffffff;
}

table.viewall td.red {
	color: #ff0000;
	font-weight: bold;
}

table.create {
	background-color: #f5f5dc;
	border-style: none;
	border-collapse: collapse;
	border-spacing: 2px;
	width: 100%;
}

table.create td {
	background-color: #d3d3d3;
	padding: 2px;
}

table.create th {
	color: #FFFFFF;
	background-color: #172983;
	padding: 10px 5px;
	text-align: center;
}
/*
TD.odd {
	background-color: #d3d3d3;
	border: 1px solid #000000;
}

TD.even {
	background-color: #e6e6fA;
	border: 1px solid #000000;
} */

/* BUTTONS AND UTILS */
#help {
	background-color: #d3d3d3;
	text-align: left;
	padding: 4px 8px;
	border: 1px solid #000000;
}

/* leave some space between icons and text */
.icon {
	vertical-align: middle;
	margin-right: 0.0em;
	margin-left: 0.0em;
}

/* no extra space in table cells */
td .icon {
	vertical-align: middle;
	border: 0;
}

/* buttons in some browsers (eg. Konqueror) are block elements, this breaks design */
button {
	display: inline;
}

button.mult_submit {
	border: none;
	background-color: transparent;
	margin: 0;
}

button {
	vertical-align: middle;
}

.hand {
	cursor: pointer;
	font-weight: bold;
}

.help {
	cursor: help;
}

.actionbutton {
	width: auto;
	text-align: center;
	padding: 15px 0 10px 0;
}

