/* MAIN */
body {
	font-family: verdana, arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 11px; 
	text-align: left;
	margin: 25px auto;
	padding: 0;
	border: 0;
	width: 100%;
	height: auto;
	color: #333333;
	background-color: #37477a;
	background-image: url(./../images/background_body.gif);
	background-repeat: repeat-x;
}

body.report {
 	margin: 5px auto;
    padding: 0;
    border: 0;
    background: #FFFFFF;
}

#outer-wrapper {
	position: relative;
	text-align: left;
	margin: 0 auto;
	height: auto;
	background-color: #FFFFFF;
}

#content-wrapper {
	position: relative;
	width: 100%;
	height: auto;
	background-color: #FFFFFF;
	clear: both;
}

#header,#outer-wrapper,#footer {
	width: 1000px;
}

#header-img {
	width: 988px;
	border-style: none;
}
