/**
 * @file style.css
 * @version $Id$
 * @author Florian Topf, Robert Stöckler
 * 
 * @todo rewrite everything to comply with STRICT XHTML and remove old stuff for v0.2
 * @todo reorder this stuff and make a hierarchy to FIND anything here!
 */

@import url(main.css);
@import url(header.css);
@import url(footer.css);
@import url(top.css);
@import url(content.css);
@import url(left.css);
@import url(validation.css);
@import url(tablesorter.css);

/* COLUMNS2 */
#left-menu-box {
	margin-left: 6px;
	padding: 10px 0;
	background-image: url(./../images/background_left_menu.gif);
	background-repeat: no-repeat;
}

#middle-marker-box {
	margin: 0;
	padding: 6px;
}

#left-marker-box {
	margin: 6px 0 6px 6px;
	padding: 0;
}

#left-marker {
	margin: 0;
	padding: 0 6px;
	background-color: #e4e0e7;
}

#left {
	float: left;
	width: 210px;
	background-color: #FFFFFF;
}

#left-content {
	width: 208px;
}

#middle {
	float: left;
	width: 790px;
	background-color: #FFFFFF;
}

#middle-content { 
	width: 788px;
}
