/**
 * @file style.css
 * @version $Id$
 * @author Florian Topf, Robert Stöckler
 * 
 * @todo rewrite everything to comply with STRICT XHTML and remove old stuff for v0.2
 * @todo reorder this stuff and make a hierarchy to FIND anything here!
 */

/* MAIN */
body {
	position: relative;
/*	text-align: center; */
	border: 0;
	margin: 0 auto;
	padding: 0;
	width: 100%;
	height: auto;
/*	font: normal 100.01% Verdana, Arial, Helvetica, sans-serif; */
	color: #333333;
	background: #37477a;
	background-image: url(./../images/background_body.gif);
	background-repeat: repeat-x;
}

body.report {
	position: relative;
	font-family: verdana, arial;
	font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 8pt;
    color: black;
 	margin: 5px auto;
    padding: 0px;
    border: 0px;
    background: #FFFFFF;
    background-color: white;
    text-align: left;
 /*   -moz-border-radius: 10px;
    -webkit-border-radius: 10px; */
 }

/*
 .report legend {
 	font-size: 12px;
 	color: #F29400;
 	background-color: white;
 	padding: 3px 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin-left: -10px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
 }
 */

p.home {
 	margin: 10px;
 	line-height: 16px;
 	text-align: justify;
 }

#outer-wrapper {
	position: relative;
	z-index: 0;
	text-align: left;
	margin: 25px auto;
	height: auto;
	background: #FFFFFF;
}

#content-wrapper {
	position: absolute;
	/*	z-index: 1;*/
	top: 268px;
	/* top: 206px; */
	left: 0;
	width: 100%;
	height: auto;
	background: #FFFFFF;
	clear: both;
}

#header,#outer-wrapper,#footer {
	width: 1000px;
}

#header-img {
	width: 988px;
	border-style: none;
}

/* HEADER */
#header {
	position: absolute;
	left: 0;
	height: 190px;
	background-image: url(./../images/banner_head.gif);
	background-repeat: repeat-y;
}

#banner-top {
	background-image: url(./../images/banner_top.gif);
	background-repeat: no-repeat;
	height: 16px
}

#header-top {
	position: relative;
	height: 60px;
}

#header-top-inside {
	padding: 0 15px 0 15px;
}

#header-img {
	position: relative;
	background-image: url(./../images/banner.jpg);
	background-repeat: no-repeat;
	left: 6px;
	height: 130px;
	/*	background: #FFFFFF; */
}

#header-img-inside {
	padding: 15px 10px 0px 0px;
	float: right;
}

#header-img-inside img {
	float: right;
	clear: both;
	padding: 0 0 6px 0;
}

#logo {
	float: left;
}

#partners {
	float: right;
}

#partners img {
	float: left;
	margin: 0 0 0 5px;
}

/* FOOTER */
#footer {
	clear: both;
	position: relative;
	left: 0;
	height: 62px;
	background-image: url(./../images/footer.gif);
	background-repeat: no-repeat;
}

#footer-box {
	position: relative;
	margin: 0;
	padding: 25px 10px 10px 10px;
}

#footer-text {
	font-family: verdana, arial;
	margin: 0;
	font-size: 9px;
	padding: 5px 5px 5px 0;
	text-align: right;
	color: #666666;
}

#footer-text a {
	color: #182250;
	text-decoration: none;
}

#footer-text a:hover {
	color: #F29400;
	text-decoration: underline;
}

#ue {
	font-size: 12px;
	float: left;
	width: 250px;
}

#ue img {
	float: left;
	margin: 3px 5px 0 0;
}

#ue a {
	color: #182250;
	text-decoration: none;
	font-weight: normal;
	font: 100.01% Verdana,Arial,Helvetica,sans-serif;
}

#ue a:hover {
	color: #F29400;
	text-decoration: underline;
}

/* TOP */
#top {
	position: relative;
	top: 190px;
	left: 0px;
	width: 100%;
	height: 65px;
	background: #FFFFFF;
	text-transform: uppercase;
	text-align: center;
	font-family: verdana, arial; 
	font-weight: bold; 
	font-size: 22px;
	color: #172983;
}

 #top-menu {
	position: relative;
	background: #FFFFFF;
	padding: 0;
	margin: 0;
}

/*
#top-menu ul {
	text-align: center;
	list-style: none;
	margin: 0;
	padding: 0;
}

#top-menu ul a,#top-menu ul .cur {
	font-family: Verdana;
	font-size: 12px;
	text-decoration: none;
	padding: 0 10px;
	color: #f29400;
}

#top-menu ul a:hover,#top-menu ul .act a {
	color: #182250;
	background-color: transparent
}

#top-menu li {
	display: inline;
	margin: 0;
	padding: 0;
}

#top-menu li+li {
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #f29400;
}
*/

#top-menu-img {
	width: 527px;
	height: 19px;
	clear: both;
/*	margin: 10px 0 5px 0; */
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#top-menu-img img {
	display: block;
}

#top-menu-bottom-img {
	width: 527px;
	height: 19px;
	clear: both;
	text-align: center;
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;
}

#top-menu-bottom-img img {
	display: block;
}

/* CONTENT */
/*
H1,H2,H3,H4,H5,H6 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #172983;
}

P,UL,OL {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #333333;
}

A {
	color: #f29400;
	text-decoration: none;
}

A:hover {
	color: #f29400;
	text-decoration: underline;
}

P,UL,OL {
	font-size: 11px;
}

P {
	margin: 0px 0px 0px 0px;
}*/

H1 {
	font-size: 14px;
	color: #172983;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #216821;
	padding: 0 0 3px 0;
}

H2 {
	font-size: 14px;
	color: #172983;
	text-align: center;
}
/*
H3 {
	font-size: 12px;
	color: #172983;
}

H4 {
	font-size: 11px;
	color: #172983;
}

H5 {
	font-size: 10px;
	color: #172983;
}

H6 {
	font-size: 9px;
	color: #333333;
	font-weight: normal;
}

H1,H2,H3,H4,H5,H6 {
	margin: 0px 0px 0px 0px;
	margin-top: 20px;
}*/

H1 {
	margin: 0px 0px 0px 0px;
	margin-top: 20px;
	margin-bottom: 20px;
}
/*
H2,H3 {
	margin: 0px 0px 0px 0px;
	margin-top: 20px;
	margin-bottom: 10px;
}

H4,H5,H6 {
	margin: 0px 0px 0px 0px;
	margin-top: 20px;
	margin-bottom: 10px;
}

H1.csc-firstHeader,H2.csc-firstHeader {
	margin-top: 0px;
}

H3.csc-firstHeader {
	margin-top: 0px;
}

H4.csc-firstHeader,H5.csc-firstHeader,H6.csc-firstHeader {
	margin-top: 0px;
}*/

H1.menu-header {
	margin-top: 10px;
	margin-bottom: 10px;
	color: #000000;
	text-transform: uppercase;
}
/*
P.bodytext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	line-height: 14px;
	padding-bottom: 6px;
} */

/* EDITS FOR HTMLAREA-RTE */
/*
p.align-center {
	text-align: center;
}

p.align-left {
	text-align: left;
}

p.align-right {
	text-align: right;
}

/* Default selector for indentation.*/
/* div.indent {
	margin-left: 2em;
} */

/* EDITS FOR BACKWARD BUTTONS */
/*
#backward-button a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	display: block;
	padding: 3px 6px 3px 15px;
	background: #e4e0e7;
	color: #666666;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
}

#backward-button a:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	display: block;
	padding: 3px 6px 3px 15px;
	background: #182250;
	color: #FFFFFF;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
} */

/*
UL {
	list-style-type: disc;
	list-style-position: outside;
}

UL UL LI {
	font-size: 10px;
}

LI {
	padding-left: 2px;
} */

IMG {
	border-style: none;
}

/*
P.csc-caption {
	font-size: 10px;
}

.csc-textpic-caption {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #333333;
	font-size: 10px;
} */

/* LEFT */

#left-menu ul {
	margin: 0;
	padding: 0;
	overflow: hidden;
	list-style-type: none;
}

#left-menu ul a {
	font-size: 120%;
	/*	font-weight: bold; */
	text-decoration: none;
	display: block;
}

#left-menu ul li {
	display: block;
	padding: 0;
	margin: 5px 0;
	text-transform: uppercase;
}

#left-menu li.left-level-1-no a {
	height: auto;
	text-decoration: none;
	display: block;
	padding: 0 0 0 5px;
	color: #182250;
}

#left-menu li.left-level-1-no a:hover {
	height: auto;
	text-decoration: none;
	display: block;
	padding: 0 0 0 5px;
	background: #182250;
	color: #FFFFFF;
}

#left-menu li.left-level-1-act a {
	height: auto;
	text-decoration: none;
	display: block;
	padding: 0 0 0 5px;
	color: #f29400;
}

#left-menu li.left-level-2-no a {
	height: auto;
	text-decoration: none;
	display: block;
	padding: 0 0 0 10px;
	color: #182250;
}

#left-menu li.left-level-2-no a:hover {
	height: auto;
	text-decoration: none;
	display: block;
	padding: 0 0 0 10px;
	background: #182250;
	color: #FFFFFF;
}

#left-menu li.left-level-2-act a {
	height: auto;
	text-decoration: none;
	display: block;
	padding: 0 0 0 10px;
	color: #f29400;
}

#left-menu li.left-level-3-no a {
	height: auto;
	text-decoration: none;
	display: block;
	padding: 0 0 0 20px;
	color: #182250;
}

#left-menu li.left-level-3-no a:hover {
	height: auto;
	text-decoration: none;
	display: block;
	padding: 0 0 0 20px;
	background: #182250;
	color: #FFFFFF;
}

#left-menu li.left-level-3-act a {
	height: auto;
	text-decoration: none;
	display: block;
	padding: 0 0 0 20px;
	color: #f29400;
}

/* MAILFORM */
/*
SELECT {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	background-color: #EDEFF1;
	border: 0px solid #CCCCCC;
}

TEXTAREA {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	border: 0px solid #CCCCCC;
	color: #000000;
	font-weight: normal;
	background-color: #EDEFF1;
}

INPUT {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000; */
	/*	background-color:#CCCCCC;*/
/*	border: 1px solid #666666;
}

BUTTON {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	background-color: #FFFFFF;
	border: 1px solid #EDEFF1;
}

.csc-mailform {
	width: 300px;
	border: 0px none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	padding-left: 36px;
}

.csc-mailform-field {
	margin-bottom: 6px;
	line-height: 18px;
} */

/* COLUMNS2 */

#left-menu-box {
	margin: 0 0 0 6px;
	padding: 15px 0;
	background-image: url(./../images/background_left_menu.gif);
	background-repeat: no-repeat;
}

/* #middle-marker-box {
	margin: 0;
	padding: 6px;
}

#left-marker-box {
	margin: 6px 0px 6px 6px;
	padding: 0;
}

#left-marker {
	margin: 0;
	padding: 0 6px;
	background: #e4e0e7;
}

#left {
	float: left;
	width: 210px;
	background: #FFFFFF;
	/*	z-index: 4; */
/* }

/*
#left-content {
	/*	position: relative;
	z-index: 5;*/
/*	width: 208px;
}

#middle {
	float: left;
	width: 590px;
	z-index: 2;
	background: #FFFFFF;
}

#middle-content { */
	/*	position: relative;
	z-index: 3;*/
/*	width: 590px;
}

#right-marker-box {
	margin: 0;
	padding: 6px 6px 6px 0;
}

#right-marker {
	margin: 0;
	padding: 0 6px;
	background: #e4e0e7;
}

#right {
	float: left;
	width: 200px; */
	/*	z-index: 4; */
/*	background: #FFFFFF;
}

#right-content { */
	/*	position: relative; */
/*	width: 200px;
} */

/*
#tx-guestbook-list-header {
	background-color: #539521;
	color: #FFFFFF;
	font-weight: bold;
}

#tx-guestbook-list-row {
	background-color: #FFFFFF;
}

#tx-guestbook-list-rowleft {
	background-color: #EEEEEE;
}

#tx-guestbook-list-small {
	font-size: 9px;
	color: #666666;
}

#tx-veguestbook-pi1-browsebox TD {
	font-size: 9px;
	color: #666666;
}

#tx-veguestbook-pi1-browsebox-strong,.tx-ttnews-browsebox-SCell {
	font-weight: bold;
}

#tx-veguestbook-pi1-browsebox-SCell {
	background-color: #EEEEEE;
}

#tx-guestbook-latest-header {
	background-color: #539521;
	color: #FFFFFF;
	font-weight: bold;
}

#tx-guestbook-latest-row {
	background-color: #FFFFFF;
}

#tx-guestbook-latest-small {
	font-size: 9px;
	color: #666666;
}

#tx-guestbook-form-inputfield-med {
	border-style: solid;
	border-width: 1pt;
	border-color: #539521;
	font-size: 12;
	color: #333333;
	width: 100;
	height: 20;
}

#tx-guestbook-form-inputfield-big {
	border-style: solid;
	border-width: 1pt;
	border-color: #539521;
	font-size: 12;
	color: #333333;
	width: 150;
	height: 20;
}

#tx-guestbook-form-textarea {
	border-style: solid;
	border-width: 1pt;
	border-color: #539521;
	font-size: 12;
	color: #333333;
	width: 250;
}

#tx-guestbook-form-obligationfield {
	color: #CC0000;
}

#tx-guestbook-form-error {
	color: #CC0000;
} */

/* Questionaire */
/*
.survey_item textarea {
	height: 120px;
	width: 100%;
	border: 1px solid #000000;
	background-color: #FFFFFF;
}

.survey_item table td {
	padding: 2px 2px 5px;
} */

/* OLD CSS */
 select {
	font-family: verdana, arial;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-size: 8pt;
	color: black;
}

/*
option {
	font-family: verdana, arial;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-size: 8pt;
} */

input {
	font-family: verdana, arial;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-size: 8pt;
	color: black;
}

A {
	font-family: verdana, arial;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	font-size: 8pt;
	color: peru;
}

A:link {
	text-decoration: none;
}

A:visited {
	text-decoration: none;
}

A:hover {
	text-decoration: none;
	color: chocolate;
}

table.main {
	font-family: verdana, arial;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-size: 8pt;
	color: black;
	background-color: white;
	border-collapse: collapse;
}

tr TH {
	background: #172983;  /* crimson;*/
	border: black;
	color: white;
	padding: 10px 0px;
	text-align: center;
}

TD.odd {
	background-color: lightgrey;
	border: black;
}

TD.even {
	background-color: lavender;
	border: black;
}

table.rtable {
	font-family: verdana, arial;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-size: 8pt;
	color: black;
	background-color: beige;
	border-collapse: collapse;
}

.rtable TD {
	background: lightgrey;
	border: black;
}

.rtable tr.odd {
	background-color: lightgrey;
	border: black;
}

.rtable tr.even {
	background-color: lavender;
	border: black;
}

table.dtable {
	font-family: verdana, arial;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-size: 8pt;
	color: black;
	background-color: lavender;
	border-collapse: collapse;
}

.dtable TR {
	background: lavender;
	border: black;
}

.dtable TD {
	background: lavender;
	border: black;
}

#evenrow {
	background-color: lightgreen;
	border: 0px solid black;
}

#lmcol {
	/*background-color: lavender;*/
	border: 0px solid black;
	width: 208px;
}

table.ltable {
	font-family: verdana, arial;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-size: 8pt;
	color: black;
	/*background-color: lavender;*/
	border-collapse: collapse;
	border: 0px solid black;
}

.ltable TH {
	background: silver;
	text-align: left;
	padding: 4px 8px;
	border: 0px solid black;
}

.ltable TD {
	/*background: lavender;*/
	text-align: left;
	padding: 2px 20px;
	border: 0px solid black;
}

.ltable A {
	font-family: verdana, arial;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-size: 8pt;
	color: crimson;
}

.ltable A:link {
	text-decoration: none;
}

.ltable A:visited {
	text-decoration: none;
}

.ltable A:hover {
	text-decoration: none;
	color: chocolate;
}

.lmenu {
	font-family: verdana, arial;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	font-size: 8pt;
	color: black;
	background-color: silver;
}

.lsmenu {
	font-family: verdana, arial;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-size: 8pt;
	color: black;
	background-color: lightgrey;
}

.lsmenu A {
	font-family: verdana, arial;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-size: 8pt;
	color: crimson;
}

.lsmenu A:link {
	text-decoration: none;
}

.lsmenu A:visited {
	text-decoration: none;
}

.lsmenu A:hover {
	text-decoration: none;
	color: chocolate;
}

#help {
	background: lightgrey;
	text-align: left;
	padding: 4px 8px;
	border: 1px solid black;
}

fieldset {
	margin: 1px;
	border: 1px solid black;
	background-color: lightgrey;
}

fieldset.message {
	font-family: verdana, arial;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	font-size: 8pt;
	color: yellow;
	background-color: green;
	border: 1px solid orange;
}

fieldset.warning {
	font-family: verdana, arial;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	font-size: 8pt;
	color: yellow;
	background-color: orange;
	border: 1px solid yellow;
}

fieldset.error {
	font-family: verdana, arial;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	font-size: 8pt;
	color: yellow;
	background-color: red;
	border: 1px solid orange;
}

.rfield {
	font-family: verdana, arial;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-size: 8pt;
	color: black;
	background-color: lightgrey;
}

.rbody {
	font-family: verdana, arial;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-size: 8pt;
	color: black;
	background-color: white;
	width: 770px;
}

.rbody A {
	font-family: verdana, arial;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	font-size: 8pt;
	/* color: crimson; */
}

.rbody A:link {
	text-decoration: none;
}

.rbody A:visited {
	text-decoration: none;
}

.rbody A:hover {
	text-decoration: none;
	color: chocolate;
}

/* leave some space between icons and text */
.icon {
	vertical-align: middle;
	margin-right: 0.0em;
	margin-left: 0.0em;
}

/* no extra space in table cells */
td .icon {
	vertical-align: middle;
	border: 0;
}

/* buttons in some browsers (eg. Konqueror) are block elements, this breaks design */
button {
	display: inline;
}

button.mult_submit {
	border: none;
	background-color: transparent;
	margin: 0;
}

button {
	vertical-align: middle;
}

.hand {
	cursor: pointer;
	font-weight: bold;
}

.dbox {
	font-weight: bold;
	display: inline;
}

.help {
	cursor: help;
}

.crow {
	font-family: verdana, arial;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-size: 6pt;
}

.center {
	text-align: center;
}

/* INPUT VALIDATION */
label.error {
	font-family: verdana, arial;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	font-size: 8pt;
	color: red;
	background-color: transparent;
/*	margin-left: 20px; */
	border: 0;
	padding: 4px 2px;
	display: block;
	}

input.error {
	font-family: verdana, arial;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-size: 8pt;
	color: yellow;
	background-color: red;
	border: 0;
 	padding: 4px 2px;
}

select.error {
	color: yellow;
	background-color: red;
	border-collapse: collapse;
	border: 1px solid orange;
}