/* INPUT VALIDATION */
label.error {
	font-family: verdana, arial;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	font-size: 8pt;
	color: #ff0000;
	background-color: transparent;
/*	margin-left: 20px; */
	border: 0;
	padding: 4px 2px;
	display: block;
	}

input.error {
	font-family: verdana, arial;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-size: 8pt;
	color: #ffff00;
	background-color: #ff0000;
	border: 0;
 	padding: 4px 2px;
}

select.error {
	color: #ffff00;
	background-color: #ff0000;
	border-collapse: collapse;
	border: 1px solid #ffa500;
}

fieldset.message {
	font-weight: bold;
	color: #ffff00;
	background-color: green;
	border: 1px solid #ffa500;
}

fieldset.warning {
	font-weight: bold;
	color: #ffff00;
	background-color: #ffa500;
	border: 1px solid #ffff00;
}

fieldset.error {
	font-weight: bold;
	color: #ffff00;
	background-color: #ff0000;
	border: 1px solid #ffa500;
}

p.warning {
	font-weight: bold;
	color: #ff0000;
	/* background-color: #ffa500;
	border: 1px solid #ffff00; */
	text-align: center;
}
